@font-face {
    font-family: artist;
    src: url(fonts/MADE\ TheArtist\ Script\ PERSONAL\ USE.otf);
    src: url(fonts/MADETheArtistScript.woff);
}

@font-face {
    font-family: regular;
    src:url(fonts/MarckScript-Regular.ttf);
    src: url(fonts/MarckScript-Regular.woff);
}

@font-face {
    font-family: fog;
    src: url(fonts/FoglihtenNo06_076.otf);
    src: url(fonts/FoglihtenNo06.woff);
}

html {
    height: 100%;
}

body {
    --thumbnails-image-height: 10vh;
    --thumbnails-image-width: 26vw;
    --thumbnails-title-height: calc(var(--thumbnails-image-height) * 0.33);
    --details-image-width: 80vw;
    --details-image-height: 27vh;
}

body {
    height: 100%;
    background-color: rgb(212, 189, 250);
    display: flex;
    flex-direction: column;
    margin: 0%;
}

.logo {
    display: block;
    text-align: center;
    background-color: rgb(167, 173, 255);
    font-size: 1.2em;
    text-transform: uppercase;
    font-family: fog;


}

.main-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 0.8;
}
.hidden .details-container{
    display: none;
}
.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vh;
    width: 100vw;
    
    transition: 2s;

}
.is-point{
    transform: scale(0.001);
    transition: 0s;
}

.details-frame{
    position: relative;
}

.details-image {
    display: block;
    width: var(--details-image-width);
    height: var(--details-image-height);
    border: solid 3px rgb(11, 94, 149);

}

.details-title {
    display: block;
    background-color: rgba(175, 180, 250, 0.759);
    height: 5vh;
    width: 110%;
    padding-left: 2vw;
    /* text-align:left; */
    font-size: 2em;
    font-family: artist;
    font-weight: bold;
    position: absolute;
    bottom: 3vh;
    left: -5vw;
}
#hide-button{
    position: absolute;
    background-color: rgba(148, 148, 156, 0);
    
    font-size: 15px;
    right: 1.5vw;
    top: 1.5vh;
}
.hidden .thumbnails-list{
    max-height: 70vh;
}
.thumbnails-list {
    display: flex;
    flex-wrap: wrap;
    max-height: 45vh;
    overflow-y: scroll;
    list-style: none;
    justify-content: space-around;
    padding-left: 0;
    margin-top: 1vh;
    width: 95vw;
    margin-left: 2.5vw;
}

.thumbnails-anchor {
    text-decoration: none;

}

.thumbnails-item {
    border: solid 4px rgb(11, 94, 149);
    margin-top: 2vh;
    border-radius: 5vw;
    overflow: hidden;
    height: calc(var(--thumbnails-image-height) + var(--thumbnails-title-height));
    min-width: var(--thumbnails-image-width);
    max-width: var(--thumbnails-image-width);
   
}

.thumbnails-item:hover{
    transform: scale(1.1);
    border: solid 4px rgb(149, 11, 124);
}


.thumbnails-image {
    width: var(--thumbnails-image-width);
    height: var(--thumbnails-image-height);
    display: block;


}

.thumbnails-title {
    display: block;
    text-align: center;
    background-color: rgb(167, 173, 255);
    color: black;
    font-family: regular;
    font-size: 20px;
    width: var(--thumbnails-image-width);
    height: var(--thumbnails-title-height);

}

@media (min-width: 560px) {
    body {
        --thumbnails-image-height: 23vh;
        --thumbnails-image-width: 22vw;
        --thumbnails-title-height: calc(var(--thumbnails-image-height) * 0.33);
        --details-image-width: 45vw;
        --details-image-height: 60vh;
    }

    .main-class {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    h2 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .details-image {
        width: var(--details-image-width);
        height: var(--details-image-height);
        border: solid 4px rgb(11, 94, 149);
    }

    .details-title {
        height: 8vh;
        font-size: 2em;
    }
    .hidden .thumbnails-list{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 90vw;
    }

    .thumbnails-list {
        max-width: 30vw;
        order: -1;
        flex-direction: column;
        flex-wrap: nowrap;
        max-height: 80vh;
        justify-content: flex-start;
        margin-top: 0;
    }

    .thumbnails-item {
        min-height: calc(var(--thumbnails-image-height) + var(--thumbnails-title-height));
        min-width: var(--thumbnails-image-width);
        max-width: var(--thumbnails-image-width);
        margin-left: 2vw;

    }

    .thumbnails-image {
        width: var(--thumbnails-image-width);
        height: var(--thumbnails-image-height);

    }

    .thumbnails-title {
        width: var(--thumbnails-image-width);
        height: var(--thumbnails-title-height);
        font-size: 20px;

    }
}

@media (min-width: 1000px) {
    body {
        --thumbnails-image-height: 18vh;
        --thumbnails-image-width: 16vw;
        --thumbnails-title-height: calc(var(--thumbnails-image-height) * 0.33);
        --details-image-width: 50vw;
        --details-image-height: 65vh;
    }
    .main-class {
        flex-grow: 1;
    }

    .logo {
        font-size: 2em;
    }

    h2 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .details-image {
        width: var(--details-image-width);
        height: var(--details-image-height);
        border: solid 4px rgb(11, 94, 149);
    }

    .details-title {
        font-size: 3em;
    }
    .hidden .thumbnails-list{
        max-height: 90vh;
    }

    .thumbnails-list {
        max-height: 80vh;
        max-width: 25vw;

    }

    .thumbnails-item {
        min-height: calc(var(--thumbnails-image-height) + var(--thumbnails-title-height));
        min-width: var(--thumbnails-image-width);
        max-width: var(--thumbnails-image-width);
    }

    .thumbnails-image {
        width: var(--thumbnails-image-width);
        height: var(--thumbnails-image-height);
    }

    .thumbnails-title {
        padding-top: 0.1em;
        font-size: 25px;
        width: var(--thumbnails-image-width);
        height: var(--thumbnails-title-height);
    }
}