html{
    height: 100%;
}
body{
    height: 100%;
    background-color: rgb(212, 189, 250);
    display: flex;
    flex-direction: column;
    margin: 0%;
}
.logo{
    display: block;
    text-align: center;
    background-color: rgb(167, 173, 255);
    font-size: 1.5em;
    text-transform: uppercase;
    border-top: solid 2px rgb(11, 94, 149);
    border-bottom: solid 2px rgb(11, 94, 149);
}
.main-class{
    display: flex;
    flex-direction: column;
}
.details-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.details-image{
    width: 100%;
    height: 50vw;
    border: solid 2px rgb(11, 94, 149);
}
.details-title{
    display: block;
    background-color: rgb(175, 180, 250);
    width: 100%;
    height: 5vh;
    text-align: center;
    border: solid 2px rgb(11, 94, 149);
    font-size: 1.5em;
}
.thumbnails-list{
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    list-style: none;
    justify-content: space-around;
    padding-left: 0;
}
.thumbnails-anchor{

}
.thumbnails-item{
    display: flex;
    flex-direction: column;
    border: solid 2px rgb(11, 94, 149);
    margin: 0vw;
    margin-top: 1vh;
    border-radius: 5vw;
    overflow: hidden;
}
.thumbnails-image{
    width: 30vw;
    height: 20vw;
    
}
.thumbnails-title{
    display: block;
    text-align: center;
    padding-top: 1vw;
    background-color: rgb(167, 173, 255);
    width: 30vw;
    height: 3vh;
}